.slide h1 { text-transform: none; }

object {
display: block;
margin-left: 1.5em;
border: 1px solid #ccc;
float: right;
}

img {
display: block;
margin-left: 1.5em;
float: right;
}

.slide li { margin-top: 0.25em; }
.slide li p { margin-top: 0; margin-bottom: 0 }

.slide pre code { font-size: 80%; }

.slide th {
text-align: left;
}

.slide th, .slide td {
border: 1px solid #ccc;
padding: 0.25em;
}
