body.main {
    page: main;
    counter-reset: page 3;
}

@media print {
    ul {
        padding-left: 1em;
        margin-left: 1em;
    }
}

.toc {
    page: table-of-contents;
}

.toc ul {
    padding-left: 0;
    margin-left: 0;
}

.toc li {
    list-style-type: none;
}

.toc ul a:after {
    content: leader('.') target-counter(attr(href), page);
}

@page table-of-contents {
    @top {
        content: "Innholdsfortegnelse";
    }
}

@page {
    @bottom {
        content: "Side " counter(page) " av " counter(pages);
    }
}

@page {
    size: A4 landscape;
}

@page main {
    size: A4 portrait;
}

@page table-of-contents {
    size: A4 portrait;
}
